.content {
  margin: auto;
  text-align: center;
  background-color: #d6e4fa;
  color: #083356;
  width: 700px;
  margin-top: 100px;
  border: #d6e4fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 7px 15px 10px rgba(0, 0, 255, 0.2);
}
.content span {
  font-size: 30px;
  color: #0a4677;
}
